<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-side">
                    <h3>{{title}}</h3>
                    <div class="form">
                        <label class="form-label">Enter Name</label>
                        <input type="text" #name class="form-control mb-2" id="exampletext" aria-describedby="">
                        <input type="text" #address class="form-control mb-2" id="exampletext" aria-describedby="">
                        <button type="button" class="btn btn-primary btn-md" (click)="transferData(name.value, address.value)">Submit</button>
                        <p class="mt-2">{{response}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="right-side">
                    <app-child [nameData]="inputName" [objData]="inputObj" (dataUpdateEvent)="updateTitle($event)"></app-child>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<br>
<hr>

